{% extends 'base.html' %}

{% block content %}

<h2 class="naslov">Login page</h2>
<p>You have to be logged in to view content.</p>

<form method="post" action="/login" class="loginForm">
    <div class="form-group">
        <label for="mailInput">Email address</label>
        <input type="email" class="form-control" id="mailInput" name="email" placeholder="Enter your email">
    </div>
    <div class="form-group">
        <label for="passInput">Password</label>
        <input type="password" class="form-control" id="passInput" name="password" placeholder="Enter your password">
    </div>
    <button type="submit" class="btn btn-light">Login</button>
</form>

<p>New here? Just <a href="/register">register!</a> </p>


{% endblock content %}