{% extends 'base.html' %}

{% block content %}

<h3 class="naslov">My Profile</h3>

{% if calorie_data %}

<p>Your current weight is {{ calorie_data.weight }} kg</p>
<p class="welcome_text">If your weight has changed, <a href="/calculator">calculate</a> your results again!</p>
<table class="table table-bordered">
    <thead>
        <tr>
            <th colspan="2">Your mealplan</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>To reach you goals you need to eat {{ calorie_data.calories }} calories/day</td>
        </tr>
        <tr>
            <td>Macros: carbohydrates: {{ macros["carbs"] }} grams, proteins: {{ macros["proteins"] }} grams, fats: {{ macros["fats"] }} grams</td>
        </tr>
        <tr>
            <td>
                Breakfast:
                {% for food in breakfast %}
                    {{ food }} ({{ breakfast[food] }} grams)<br>
                {% endfor %}
                <br>
                Brunch:
                {% for food in brunch %}
                    {{ food }} ({{ brunch[food] }}{% if food != 'eggs' %} grams{% endif %})<br>
                {% endfor %}
                <br>
                Lunch:
                {% for food in lunch %}
                    {{ food }} ({{ lunch[food] }} grams)<br>
                {% endfor %}
                <br>
                Dinner:
                {% for food in dinner %}
                    {{ food }} ({{ dinner[food] }} grams)<br>
                {% endfor %}
            </td>
        </tr>
    </tbody>
</table>
<br>
{% else %}
<p class="welcome_text">You have not yet calculated your intake. Please visit <a href="/calculator">calculator</a> to continue.</p>
{% endif %}

{% endblock content %}