{% extends 'base.html' %}

{% block content %}

<h2 class="naslov">Register page</h2>

<form method="post" action="/register" class="loginForm">
    {% if message %}
        <small class="form-text text-muted">Username or email already in the database.</small>
    {% endif %}
    <div class="form-group">
        <label for="nameInput">Username</label>
        <input type="text" class="form-control" id="nameInput" name="username" placeholder="Enter your name">
    </div>
    <div class="form-group">
        <label for="mailInput">Email address</label>
        <input type="email" class="form-control" id="mailInput" name="email" placeholder="Enter your email">
    </div>
    <div class="form-group">
        <label for="passInput">Password</label>
        <input type="password" class="form-control" id="passInput" name="password" placeholder="Enter your password">
    </div>
    <button type="submit" class="btn btn-light">Register</button>
</form>

{% endblock content %}